<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Discount Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Roboto';
        }
        body {
            width: 85%;
            margin: 0 auto;
            background-color: #eee;
        }
    </style>
</head>
<body>
<h1>Edit Employee</h1>
<p>
    <a class="btn btn-info" th:href="@{/}">Employee list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-employee}" th:object="${employee}" method="post">
    <div class="form-group" >
        <input th:type="hidden" name="id" th:field="*{id}">
        <label>Employee Group</label>
        <select th:field = "*{employeeGroup}">
            <option value="Quản trị hệ thống">Quản trị hệ thống</option>
            <option value="Quản lý nhân sự<">Quản lý nhân sự</option>
            <option value="Lễ tân">Lễ tân</option>
            <option value="Buồng phòng">Buồng phòng</option>
            <option value="Quản lý phòng">Quản lý phòng</option>
            <option value="Quản lý dịch vụ">Quản lý dịch vụ</option>
        </select><br>

        <label>Name</label>
        <input type="text" class="form-control" th:field="*{name}">

        <label>Birthday</label>
        <input type="text" class="form-control" th:field="*{birthday}">

        <label>Gender</label>
        <input type="text" class="form-control" th:field="*{gender}">

        <label>Phone number</label>
        <input type="text" class="form-control" th:field="*{phoneNumber}">

        <label>CMND</label>
        <input type="text" class="form-control" th:field="*{cmnd}">

        <label>Email</label>
        <input type="text" class="form-control" th:field="*{email}">

        <label>Address</label>
        <input type="text" class="form-control" th:field="*{address}">
    </div>
    <button type="submit" class="btn btn-success">Edit Employee</button>
</form>
</body>
</html>